.container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.2rem;
  display: flex;
}

.textfield-clean {
  width: 10vw; /* Largura reduzida */
  background-color: transparent;
}

.textfield-clean .MuiInputBase-input {
  padding: 8px; /* Reduz o padding interno para diminuir a altura */
}

.textfield-clean .MuiInputLabel-root {
  font-size: 0.8rem; /* rótulo menor */
}

.textfield-clean .MuiInputLabel-shrink {
  font-size: 0.7rem; /* quando o label sobe */
}


.textfield-clean .MuiFilledInput-root {
  background-color: transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Remove os spinners no Chrome, Edge, Safari (WebKit) */
.textfield-clean input[type="number"]::-webkit-outer-spin-button,
.textfield-clean input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove o spinner no Firefox */
.textfield-clean input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* ============================
   Estilo base para todos inputs
   ============================ */
.input {
  background-color: transparent !important;
  text-align: center;
  height: 5vh;
  width: 5.2vw;
}
